<div class="container">
    <div id="map-canvas"></div>
    <table class="table table-bordered">
        <tr>
            <td>ComplaintId:</td>
            <td>{{activeComplaint.complaintId}}</td>
        </tr>
        <tr>
            <td>Description:</td>
            <td>{{activeComplaint.description}}</td>
        </tr>
        <tr>
            <td>Severity:</td>
            <td>{{activeComplaint.severity}}</td>
        </tr>
        <tr>
            <td>Status:</td>
            <td>{{activeComplaitn.status}}</td>
        </tr>
        <tr>
            <td>Area:</td>
            <td>{{activeComplaint.area}}</td>
        </tr>
        <tr>
            <td>Pincode:</td>
            <td>{{activeComplaint.pincode}}</td>
        </tr>
    </table>
</div>